<div class='page-header'>
    <h1>{{list.description}}</h1>
</div>

<!--
    {{input value=title placeholder='Title'}}
    {{textarea value=description placeholder='Description'}}
    {{input value=image placeholder='http://pictures.com/image.png'}}
    <button {{action 'addItem'}}>Add to list</button>

-->
<div class='list-group'>
    {{#each list.items as |item|}}
        {{lm-item item=item}}
    {{/each}}
</div>
