<h1 id="title">{{#link-to 'lists'}}List Maker (alpha){{/link-to}}</h1>
{{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.displayName}}
    <button {{action "signOut"}}>Sign out</button>
    {{outlet}}
{{else}}
    {{#link-to 'signin'}}Sign in{{/link-to}}
    {{outlet}}
{{/if}}
