<div class='page-header'>
    <h2>{{list-title list=model}}</h2>

    {{#if belongsToUser}}
        {{#bs-form formLayout='inline'}}
            <div class='form-group'>
                {{input value=model.description focus-out='update' class='form-control'}}
            </div>
            {{#bs-button action='delete' type='danger'}}
                {{fa-icon 'trash'}} Delete
            {{/bs-button}}
            {{#bs-button action='addItem' type='primary'}}
                {{fa-icon 'plus'}} Add new item
            {{/bs-button}}
        {{/bs-form}}
    {{else}}
        <p>by {{model.user.displayName}}</p>
    {{/if}}
</div>

<div class='list-group'>
    {{outlet}}
    {{#each items as |item|}}
        {{render 'list.item' item}}
    {{/each}}
</div>
