<div class='page-header'>
    <h2>{{list-title list=model}}</h2>
    {{#unless belongsToUser}}
        <p>by {{model.user.displayName}}</p>
    {{/unless}}

    {{#bs-form formLayout='inline'}}
        {{#if belongsToUser}}
                <div class='form-group'>
                    {{input value=model.description focus-out='update' class='form-control'}}
                </div>
                {{#bs-button action='delete' type='danger'}}
                    {{fa-icon 'trash'}} Delete
                {{/bs-button}}
        {{/if}}
        {{#if session.isAuthenticated}}
            {{#bs-button action='addItem' type='primary'}}
                {{fa-icon 'plus'}} Add new item
            {{/bs-button}}
        {{/if}}
    {{/bs-form}}
</div>

<div class='list-group'>
    {{outlet}}
    {{#each items as |item|}}
        {{render 'list.item' item}}
    {{/each}}
</div>
