<div class='page-header'>
    <h2>{{list-title list=model}}</h2>

    {{#if belongsToUser}}
        {{bs-form-element value=model.description}}
        {{bs-button action='update' defaultText='Update' resolvedText='Saved'}}
        {{#bs-button action='delete' type='danger'}}Delete{{/bs-button}}
    {{/if}}
</div>

<div class='list-group'>
    {{#each model.items as |item|}}
    <div class='list-group-item'>
        <h3 class='list-group-item-heading'>{{item.title}}</h3>
        <p class='list-group-item-text'>
            {{item.description}}
            {{#if item.image}}
                <img src='{{item.image}}' alt='{{item.description}}'/>
            {{/if}}
        </p>
    </div>
    {{/each}}
</div>
